* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  display: block;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  margin: 0 auto;
  background: url('../assets/sprites/bck@2x.png');
}
