*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#canvas {
  /* margin: 1rem 4rem; */
  /* border: 1px solid #a4a4a4; */
  border-radius: 4px;
}
